.dragicon {
    /*-fx-background-radius: 10;*/
}

.node-overlay {
    /*-fx-background-radius: 10 10 0 0;*/
    -fx-background-color: rgba(255,255,255,0.5);
}

.right-link-handle:hover {
    /*-fx-background-radius: 0 0 10 0;*/
    -fx-background-color:
            rgba(255, 255, 255, 0.35);
}

.left-link-handle:hover {
    /*-fx-background-radius: 0 0 0 10;*/
    -fx-background-color:
            rgba(255, 255, 255, 0.35);
}

.body-handle:hover {
    -fx-background-color:
            rgba(255, 255, 255, 0.35);
}

.lion-button {
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#9a9a9a, #909090),
            linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}

.lion-button:pressed {
    -fx-background-color:
            linear-gradient(#9a9a9a, #909090),
            rgb(0,179,60);
}

.close-button:hover {
    /*-fx-background-radius: 4 4 4 4;*/
    -fx-background-color:
            rgba(255, 255, 255, 0.35);
}
.icon-plus {
    -fx-background-image: url('images/plusSignIcon.jpg');
    -fx-background-size: stretch;
}

.node-icon-plus {
    -fx-background-image: url('images/plusSign.jpg');
    -fx-background-size: stretch;
}

.icon-minus {
    /*-fx-background-color: red;*/
    -fx-background-image: url('images/minusSignIcon.jpg');
    -fx-background-size: stretch;
}

.node-icon-minus {
    -fx-background-image: url('images/minusSign.jpg');
    -fx-background-size: stretch;
}

.icon-div {
    -fx-background-image: url('images/divSignIcon.jpg');
    -fx-background-size: stretch;
}
.node-icon-div {
    -fx-background-image: url('images/divSign.jpg');
    -fx-background-size: stretch;
}

.icon-in {
    -fx-background-image: url('images/inIcon.jpg');
    -fx-background-size: stretch;
}
.node-icon-in {
    -fx-background-image: url('images/in.jpg');
    -fx-background-size: stretch;
}

.icon-out {
    -fx-background-image: url('images/outIcon.jpg');
    -fx-background-size: stretch;
}
.node-icon-out {
    -fx-background-image: url('images/out.jpg');
    -fx-background-size: stretch;
}

.icon-mul {
    -fx-background-image: url('images/mulSignIcon.jpg');
    -fx-background-size: stretch;
}
.node-icon-mul {
    -fx-background-image: url('images/mulSign.jpg');
    -fx-background-size: stretch;
}